* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #030712;
  color: #f0f4f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1a2744;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a3a5c;
}
